<center>
        <h1>Radio Tout Faire</h1>
        <i>Le module pour le service d'imagerie</i>
    </center>
    <hr/>
    <ul class="listeBouton">
        <li><a ng-href="#/newacte">	<input type="button" class="bouton17" value="Créer Acte"/>							</a></li>
        <li><a ng-href="#/newappareil">				<input type="button" class="bouton18" value="Créer Appareil"/>						</a></li>
    </ul>

    <ul class="listeBouton">
        <li><a ng-href="#/rechercheradmission">				<input type="button" class="bouton19" value="Recherche Asmission" ng-click=""/>		</a></li>
        <li><a ng-href="#/rechercheracte">				<input type="button" class="bouton20" value="Recherche Actes" ng-click=""/>			</a></li>
    </ul>
    

