<!DOCTYPE html>

<html>
    <head>
        <title>Bureau d'étude</title>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>
        <script src="app.js"></script>
        <script src="controllers.js"></script>
        <script src="services.js"></script>
    </head>   
    <body>
    <center>
        <h1>Radio Tout Faire</h1>
        <i>Le module pour le service d'imagerie</i>
    </center>
    <hr/>
    <ul class="listeBouton">
        <li><a ng-href="#/newacte">	<input type="button" class="bouton17" value="Créer Acte"/>							</a></li>
        <li><a ng-href="#/newappareil">				<input type="button" class="bouton18" value="Créer Appareil"/>						</a></li>
    </ul>

    <ul class="listeBouton">
        <li><a ng-href="#/rechercheradmission">				<input type="button" class="bouton19" value="Recherche Asmission" ng-click=""/>		</a></li>
        <li><a ng-href="#/rechercheracte">				<input type="button" class="bouton20" value="Recherche Actes" ng-click=""/>			</a></li>
    </ul>
    
    <a ng-href="#/cr"><p>Les crayons</p></a>
</body>
</html>


