<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<table>
    <tr>
    <h3> Edition de l'acte {{ ctrl.acte.acteRadiologiquePACS}} </h3>
</tr>
<tr>
    <td>
        <h3>Valeur Actuelle</h3>
        <table>
            <form novalidate class="simple-form">
                <tr><td>Date:</td><td> {{ ctrl.oldacte.acteRadiologiqueDate}}<br /></td></tr>
                <tr><td>CCAM:</td><td>{{ctrl.oldacte.CCAM.CCAMLibelle}}<br /></td></tr>
                <tr><td>IEP Admi: </td><td>{{ctrl.oldacte.admission.admissionIEP}}<br /></td></tr>
                <tr><td>Appareil:</td><td> {{ctrl.oldacte.appareil.appareilLibelle}}<br /></td></tr>
                <tr ng-repeat='im in ctrl.oldacte.image' >
                    <td> {{ im.imageRadiologiqueId}} </td>
                    <td> {{ im.imageRadiologiqueFormat}} </td>
                    <td> {{ im.imageRadiologiqueLibelle}} </td>
                    <td> {{ im.imageRadiologiquePoids}} </td>
                    <td> {{ im.imageRadiologiqueURL}} </td>
            </form>
        </table>

    </td>
    <td width="30%"></td>
    <td>
        <h3>Modifier les valeurs</h3>
        <table>
            <form novalidate class="simple-form">
                <tr><td>Date:</td><td><input type="date" ng-model="ctrl.acte.acteRadiologiqueDate"><br /></td></tr>
                <tr><td>CCAM:</td><td><div class="input-control select">
                            <SELECT class="form-control" ng-options='no.CCAMLibelle for no in ctrl.ccam' ng-model="ctrl.acte.CCAM"></SELECT>
                        </div><br /></td></tr>
                <tr><td>IEP Admi:</td><td><div class="input-control select">
                            <SELECT class="form-control" ng-options='ad.admissionIPP for ad in ctrl.admi' ng-model="ctrl.acte.admission"></SELECT>
                        </div><br /></td></tr>
                <tr><td>Appareil:</td><td> <div class="input-control select">
                            <SELECT class="form-control" ng-options='ap.appareilLibelle for ap in ctrl.appa' ng-model="ctrl.acte.appareil"></SELECT>
                        </div><br /></td></tr>
                 <tr><td>Image:</td><td> <div class="input-control select">
                             <select  ng-model="ctrl.ImageSelect" ng-options="im.imageRadiologiqueLibelle for im in ctrl.image">
                            </select>
                        </div><br /></td></tr>
                 <tr><td><img src="#" alt="" id='avoir' /></td></tr>
                <tr><td></td><td><input type="submit" ng-click="ctrl.update()" value="Enregistrer l'acte avec les nouvelles valeurs" /></td></tr>
            </form>
        </table>
    </td>
</tr>
<tr height='150px'><td></td><td></td></tr>
<tr>
<tr><h2>Ajouter une image à l'acte<h2/></tr>
    <table>
        <tr>
            <th> Id </th>
            <th> Format </th>
            <th> Libellé </th>
            <th> Poids </th>
            <th> URL </th>
            <th> Aperçu </th>
        <tr  ng-model='ctrl.ImageSelect' ng-repeat='im in ctrl.image'>
            <td> {{ im.imageRadiologiqueId}} </td>
            <td> {{ im.imageRadiologiqueFormat}} </td>
            <td> {{ im.imageRadiologiqueLibelle}} </td>
            <td> {{ im.imageRadiologiquePoids}} </td>
            <td> {{ im.imageRadiologiqueURL}} </td>
            <td><img src="{{ im.imageRadiologiqueURL}}" style="width:128px; height:128px;"/></td>
            <td><td/> 
        </tr>
    </table>
    </tr>
</table>