<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h2>Liste des images de l'acte {{ ctrl.acte.acteRadiologiquePACS}}</h2>
<table>
    <tr>
        <th> Id </th>
        <th> Format </th>
        <th> Libellé </th>
        <th> Poids </th>
        <th> URL </th>
        <th> Aperçu </th>
    <tr ng-repeat='im in ctrl.acte.images'>
        <td> {{ im.imageRadiologiqueId}} </td>
        <td> {{ im.imageRadiologiqueFormat}} </td>
        <td> {{ im.imageRadiologiqueLibelle}} </td>
        <td> {{ im.imageRadiologiquePoids}} </td>
        <td> {{ im.imageRadiologiqueURL}} </td>
        <td><img src="{{ im.imageRadiologiqueURL}}" style="width:128px; height:128px;"/></td>
        <td> <a ng-href="#/imageEdition/{{im.imageRadiologiqueId}}"/> Editer </a>
        <td> <input type="button" value="Supprimer" ng-click="ctrl.delete(im)"/> 
    </tr>
</table>
<a ng-href="#/newImage"><input type="button" value="Créer une Image" /></a>