<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Nouvel Acte</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>
        <script src="app.js"></script>
        <script src="controllers.js"></script>
        <script src="services.js"></script>
    </head>   
    <body>
        <a href="#/"><button class="button cycle-button">←</button></a>
        <form>
            <h3> Création d'un acte de radiologie </h3>

            <table width="400px">
                <tr>
                    <td><h4>Nomemclature</h4></td>
                    <td><h4>Appareil</h4></td>
                    <td><h4>Date</h4></td>
                    <td><h4>IPP Admi</h4></td>
                </tr>
                <tr>
                    <td>
                        <div class="input-control select">
                            <SELECT class="form-control" ng-options='no.CCAMLibelle for no in ctrl.ccam' ng-model="ctrl.act.CCAM"></SELECT>
                        </div>
                    </td>
                    <td>
                        <div class="input-control select">
                            <SELECT class="form-control" ng-options='ap.appareilLibelle for ap in ctrl.appa' ng-model="ctrl.act.appareil"></SELECT>
                        </div>
                    </td>
                    <td>
                        <div class="input-control text" data-role="datepicker">
                            <input type="text" ng-model="ctrl.act.acteRadiologiqueDate">
                            <button class="button"><span class="mif-calendar"></span></button>
                        </div>
                        <script>
                                    $(function () {
                                        $("#datepicker").datepicker();
                                    });
                        </script>
                    </td>
                    <td>
                        <div class="input-control select">
                            <SELECT class="form-control" ng-options='ad.admissionIPP for ad in ctrl.admi' ng-model="ctrl.act.admission"></SELECT>
                        </div>
                    </td>
                </tr>
            </table>

            <br/><br/>
            <input type="submit" ng-click="ctrl.update()" value="Créer un acte de radiologie" />
            <br/>
        </form>
    </body>
</html>
