<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Bureau d'étude</title>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>
        <script src="app.js"></script>
        <script src="controllers.js"></script>
        <script src="services.js"></script>
    </head>   
    <body>
    <center>
        <h1>Radio Tout Faire</h1>
        <i>Le module pour le service d'imagerie</i>
    </center>
    <hr/>
    <form>
        <br/><br/>
        <fieldset>
            <legend>Nouvel Appareil</legend> 
            <table>
                <tr>
                    <td>Libellé</td>
                    <td><input type="text" name="libelleAppareil" ng-model="ctrl.appa.appareilLibelle"></td>
                </tr>
                <tr>
                    <td>Modalité d'imagerie</td>
                    <td><input type="text" name="modaliteImagerie" ng-model="ctrl.appa.appareilModalite"/></td>
                </tr>
            </table>


            <br/><br/>

            <input type="submit" value="Annuler" ng-click="" />
            <input type="submit" value="Enregistrer" ng-click="ctrl.update()" />

        </fieldset>
        <a ng-href="#/listeappareil"/><p>Liste des appareils</p></a>




</form>
</body>
</html>
