<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Bureau d'étude</title>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>
        <script src="app.js"></script>
        <script src="controllers.js"></script>
        <script src="services.js"></script>
    </head>   
    <body>
        <a href="#/"><button class="button cycle-button">←</button></a>
        <h3>Ajout d'un nouvel appareil</h3>
        <br/>
        <a ng-href="#/listeappareil"/><p>Liste des appareils</p></a>
           <div class="grid">
                <div class="row cells2">
                    <div class="cell">
                        <label>Libellé</label>
                        <div class="input-control text full-size">
                            <input type="text" style="width:50%" name="libelleAppareil" placeholder="Ex. Appareil Salle B205" ng-model="ctrl.appa.appareilLibelle">
                        </div>
                    </div>
                </div>
                <div class="row cells2">
                    <div class="cell">
                        <label>Modalité d'imagerie</label>
                        <div class="input-control text full-size">
                            <input type="text" style="width:50%" name="modaliteImagerie" placeholder="Ex. IRM" ng-model="ctrl.appa.appareilModalite"/>
                        </div>
                    </div>
                </div>
            </div>
            <br/><br/>
         
            <a href="#/"><input type="submit" value="Annuler" ng-click=""/></a>
            <input type="submit" value="Enregistrer" ng-click="ctrl.update()" />
</body>
</html>
