<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Nouvelle Nomenclature</title>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>
        <script src="app.js"></script>
        <script src="controllers.js"></script>
        <script src="services.js"></script>
    </head>   
    <body>

    <form>
            <h3>Nouvelle Image</h3>
            
            
            <div class="grid">
                <div class="row cells2">
                    <div class="cell">
                        <label>Format</label>
                        <div class="input-control text full-size">
                            <input type="text" style="width:50%" placeholder="Ex. JPEG" name="Format" ng-model="ctrl.imageradiologique.imageRadiologiqueFormat">
                        </div>
                    </div>
                </div>
                <div class="row cells2">
                    <div class="cell">
                        <label>Libellé</label>
                        <div class="input-control text full-size">
                            <input type="text" style="width:50%" placeholder="Ex. Radio_0001_Thorax" name="Libellé" ng-model="ctrl.imageradiologique.imageRadiologiqueLibelle">
                        </div>
                    </div>
                </div>
                <div class="row cells2">
                    <div class="cell">
                        <label>Poids</label>
                        <div class="input-control text full-size">
                            <input type="text" style="width:50%" placeholder="Ex. 51KB" name="Poids" ng-model="ctrl.imageradiologique.imageRadiologiquePoids">
                        </div>
                    </div>
                </div>
                <div class="row cells2">
                    <div class="cell">
                        <label>URL</label>
                        <div class="input-control text full-size">
                            <input type="text" style="width:50%" placeholder="Ex. https://upload.wikimedia.org/wikipedia/commons/2/29/Subclavian_central_veinous_catheter_xray.png" name="URL" ng-model="ctrl.imageradiologique.imageRadiologiqueURL">
                        </div>
                    </div>
                </div>
            </div>
            <br/><br/>

            <a href="#/"><input type="submit" value="Annuler" ng-click=""/></a>
            <input type="submit" value="Enregistrer" ng-click="ctrl.update()" />

    </form>
</body>
</html>
