<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Nouvelle Nomenclature</title>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>
        <script src="app.js"></script>
        <script src="controllers.js"></script>
        <script src="services.js"></script>
    </head>   
    <body>
    <form>
        <br/><br/>
        <fieldset>
            <legend>Nouvelle Nomenclature</legend> 
            <table>
                <tr>
                    <td>Code</td>
                    <td><input type="text" name="Code" ng-model="ctrl.nomemclatureccam.nomemclatureCCAMCode"/></td>
                </tr>
                <tr>
                    <td>Libellé</td>
                    <td><input type="text" name="libelleNomemclature" ng-model="ctrl.nomemclatureccam.nomenclatureCCAMLibelle"></td>
                </tr>

            </table>


            <br/><br/>

            <input type="submit" value="Annuler" ng-click="" />
            <input type="submit" value="Enregistrer" ng-click="ctrl.update()" />

        </fieldset>




    </form>
</body>
</html>
